<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Rankings</title>
    <link rel="stylesheet" href="/css/crud-ranking.css">
</head>
<body>
<div class="container">
    <h1>Gerenciar Rankings</h1>

    <section class="read-section">
        <h2>Lista de Rankings</h2>
        <table id="usersTable">
            <thead>
            <tr>
                <th>ID Ranking</th>
                <th>Data</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>

</div>
<script src="/js/crud-ranking.js"></script>
</body>
</html>
