<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="/css/usuarios-ranking.css">
</head>
<body>
<div class="container">
    <h1 id="titulo">Ranking DATA</h1>

    <section class="read-section">
        <h2>Lista de posições</h2>
        <table id="usersTable">
            <thead>
            <tr>
                <th>Posição</th>
                <th>Nome Usuário</th>
                <th>Tentativas</th>
                <th>Acertou</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>

</div>
<script src="/js/usuarios-ranking.js"></script>
</body>
</html>
