<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Sessões</title>
    <link rel="stylesheet" href="/css/usuario-sessoes.css">
</head>
<body>
<div class="container">
    <h1>Gerenciar Sessões</h1>

    <section class="read-section">
        <h2>Lista de Sessões</h2>
        <table id="usersTable">
            <thead>
            <tr>
                <th>ID Sessão</th>
                <th>Nome Usuário</th>
                <th>País</th>
                <th>Tentativas</th>
                <th>Acertou</th>
                <th>Dia Jogado</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>

</div>
<script src="/js/usuario-sessoes.js"></script>
</body>
</html>
